@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

:root {
  --gradient: linear-gradient(90deg, #a3a8f0 0%, #696fdd 100%);
  --gradient-2: linear-gradient(180deg, #a3a8f0 0%, #696fdd 100%);
  --col-1: hsl(240, 78%, 98%);
  --col-2: hsl(234, 14%, 74%);
  --col-3: hsl(233, 13%, 49%);
  --col-4: hsl(232, 13%, 33%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(237, 19%, 55%);
  --pirple: #7574c4;
}

body {
  background-color: var(--col-1);
}
